.app {
  background-color: rgb(215, 243, 243);
  padding: 30px;
  width: 100%;
  max-width: 400px;
  border-radius: 20px;

  .container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;

    .circles {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      background-color: rgb(182, 36, 26);

      &.c1 {
        //    background-color: aqua;
        //   border-radius: 10%;
      }

      &.c2 {
        //  background-color: aqua;
        //  border-radius: 100%;
      }
      &.c3 {
        //  background-color: aqua;
        // border-radius: 100%;
      }
    }
  }
}
